{% extends "base.html" %}

{% load static %}

{% block static_block %}
<link rel="stylesheet" href={% static "css/settings_style.css" %}>
{% endblock %}

{% block main_page_block %}
<div class="row settings_title_block">
    <h1>Settings: shrek</h1>
</div>

<div class="row settings_element">
    <div class="col-md-2 col-sm-12 col-xs-12">
        <p>Login</p>
    </div>
    <div class="col-md-10 col-sm-12 col-xs-12 login_input_block">
        <label><input class="form-control" type="text"></label>
        <p class="warning">incorrect login</p>
    </div>
</div>

<div class="row settings_element">
    <div class="col-md-2 col-sm-12 col-xs-12">
        <p>Email</p>
    </div>
    <div class="col-md-10 col-sm-12 col-xs-12 email_input_block">
        <label><input class="form-control" type="email"></label>
        <p class="warning">incorrect email</p>
    </div>
</div>

<div class="row settings_element">
    <div class="col-md-2 col-sm-12 col-xs-12">
        <p>Nickname</p>
    </div>
    <div class="col-md-10 col-sm-12 col-xs-12 nick_input_block">
        <label><input class="form-control" type="text"></label>
        <p class="warning">incorrect nickname</p>
    </div>
</div>

<div class="row settings_element">
    <div class="col-md-2 col-sm-12 col-xs-12">
        <p>Upload avatar</p>
    </div>
    <div class="col-md-10 col-sm-12 col-xs-12 avatar_input_block">
        <img src="../static/img/user_icon.jpg" alt="avatar">
        <input type="file" class="form-control" id="avatar_input" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
        <p class="warning">incorrect file_type</p>
        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Upload</button>
    </div>
</div>

{% endblock %}