{% load static %}

<div class="row question_block">

    <div class="col-md-2 col-sm-4 col-xs-12 avatar_and_rating">

        <div class="row">
            <div class="col-md-12 col-sm-12 avatar_block">
                <a href=""><img src={% static "img/user_icon.jpg" %} alt="user_avatar"></a>
            </div>
        </div>

        <div class="row user_name_block">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <a href="">{{ question.user_name }}</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 like_dislike_buttons_block">
                <div class="rating_number">
                    <p>{{ question.rating }}</p>
                </div>
                <div class="btn-group-vertical like_dislike_buttons_group" role="group" aria-label="Vertical radio toggle button group">
                    <input type="radio" class="btn-check" name="vbtn-radio" autocomplete="off">
                    <label class="btn btn-outline-light">+</label>
                    <input type="radio" class="btn-check" name="vbtn-radio" autocomplete="off">
                    <label class="btn btn-outline-light">-</label>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-10 col-sm-8 col-xs-11 question_info_block">

        <div class="row question_title_block">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <a href={% url "question" questionId=question.id %}><h1 class="question_text">{{ question.title }}</h1></a>
            </div>
        </div>

        <div class="row question_description_block">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="question_text">{{ question.text }}</p>
            </div>
        </div>

        <div class="row question_bottom_block">

            <div class="col-md-6 col-sm-6 col-xs-11">
                <p><a class="question_text" href={% url "question" questionId=question.id %}>answers (n)</a></p>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-1">
                <p class="question_text">Tags:
                {% for tag in question.tags %}
                    <a href={% url "questions_by_tag" tag_title=tag%}> {{ tag }} </a>
                {% endfor %}
                </p>
            </div>
        </div>

    </div>

</div>