<div class="col-md-3 col-sm-3 header_element" id="authorized_user_block">
    <div class="row">
        <div class="col-md-6" id="settings_log_out">

            <div class="row">
                <div class="col-12"><a href={% url "settings" %}>settings</a></div>
            </div>

            <div class="row">
                <div class="col-12"><a href="">log out</a></div>
            </div>

        </div>

        <div class="col-md-6" id="user_icon">
            <a href="#">
                <img class="header_image" src="../static/img/user_icon.jpg" alt="USER"/>
            </a>
        </div>
    </div>
</div>
